[submodule "deepcraft-studio-accelerators"]
	path = deepcraft-studio-accelerators
	url = https://github.com/Infineon/deepcraft-studio-accelerators
[submodule "deepcraft-model-zoo-for-psoc"]
	path = deepcraft-model-zoo-for-psoc
	url = https://github.com/Infineon/deepcraft-model-zoo-for-psoc
[submodule "deepcraft-model-zoo-for-aurix"]
	path = deepcraft-model-zoo-for-aurix
	url = https://github.com/Infineon/deepcraft-model-zoo-for-aurix
